{% extends "index.html" %}

{% block content %}
<div class="row content">
    <div class="col-1"></div>
    <form class="userdetails justify-content-center align-content-center" action="/add_task/confirm/" method="post">
        <h1>Add Task</h1>
    {% csrf_token %}
        <input class="col-10" id="title" type="text" name="title" placeholder="Title">
        <input class="col-10" id="content" type="text" name="content" placeholder="Content">
        <select class="col-10" id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input class="col-10" id="date" type="text" name="date" placeholder="Date" value="2020-09-11">
        <p>{{ response.response }}</p>
        <div class="col-12 more_actions">
            <a href="/add_task" class="reset">Reset</a>
            <input type="submit" value="Submit" style="cursor:pointer;">
        </div>
    </form>
</div>
{% endblock %}