{% extends "index.html" %}

{% block content %}
<div class="row content">
    <div class="col-1"></div>
    <form class="userdetails justify-content-center align-content-center" action="/login/confirm/" method="post">
        <h1>LogIn</h1>
    {% csrf_token %}
        <input class="col-10" id="username" type="text" name="username" placeholder="Username">
        <input class="col-10" id="password" type="password" name="password" placeholder="Password">
        <p>{{ response.response }}</p>
        <div class="more_actions">
            <a href="/signup">New user? Signup here.</a>
            <input type="submit" value="Submit" style="cursor:pointer;">
        </div>
    </form>
</div>
{% endblock %}