{% extends "index.html" %}

{% block content %}
<div class="row content">
    <div class="col-2"></div>
    <form class="row userdetails justify-content-center align-content-center" action="/signup/confirm/" method="post">
    {% csrf_token %}
        <input class="col-10" id="username" type="text" name="username" placeholder="Username">
        <input class="col-10" id="email" type="text" name="email" placeholder="Email">
        <input class="col-4" id="firstname" type="text" name="firstname" placeholder="First Name">
        <input class="col-4" id="lastname" type="text" name="lastname" placeholder="Last Name">
        <input class="col-10" id="bio" type="text" name="bio" placeholder="Bio">
        <input class="col-10" id="profile_pic" type="text" name="profile_pic" placeholder="Profile Picture">
        <input class="col-10" id="password1" type="password" name="password1" placeholder="Password">
        <input class="col-10" id="password2" type="password" name="password2" placeholder="Re-enter Password">
        <p>{{ response.response }}</p>
        <div class="more_actions">
            <a href="/login">Already user? Login here</a></p>
            <input type="submit" value="Submit" style="cursor:pointer;">
        </div>
    </form>
</div>
{% endblock %}