body{
    padding: opx;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    outline: 10px solid slategrey;
}
.container-fluid{
    font-family: cursive;
    width: 100%;
    height: 100%;
}
.header{
    height: 6vh;
    font-size:200%;
    font-weight: 900;
    box-shadow: 0 4px 2px -2px gray;
}
.footer{
    display: block;
    height: 6vh;
}
.user{
    margin-left: auto;
    height: 100%;
}
.user>p{
    display: inline-block;
}
.user>img{
    height: 100%;
    border-radius: 100%;
}
.content{
    height: 88%;
}
.navbar{
    display: block;

}
.subnav{
    max-height: 40vh;
    overflow-y: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
.small_heading{
    margin-top: 10%;
    font-size: 120%;
    font-weight: 700;
}
a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
}
li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}
.response{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    font-weight: 900;
}
.tasks{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
}
.tasks::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.tasks::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
.tasks::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
.task{
    height: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    margin: 1%;
}
.task:hover{
    background-color: #94bbe9;
}
.title{
    height:13%;
    font-size: 200%;
    font-weight: 560;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description{
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lables{
    display: flex;
    align-items: center;
}
.lables>p{
    font-size: 100%;
    justify-content: center;
    border-radius: 5px;
    margin-right: 3%;
    box-shadow: 2px 2px 2px 2px rgba(148,187,233,1) 100%);
    color: black;
}
.tags{
    font-weight: 600;
}
.category, .date{
    display: inline-block;
    width: 49%;
    margin: auto;
}
form{
    margin-left: 10%;
    padding-top: 10%;
    width: 60%;
    font-size: 150%;
    font-family: Gill Sans, sans-serif;
}
input[type=password], input[type=text], textarea, date, select {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: white;
    border-radius: 20px;
    resize: vertical;
    font-weight: 800;
    margin: auto;
    margin-top: 1%;
}
textarea{
    height: 200px;
    box-sizing: border-box;
    resize: none;
}
.more_actions{
    width: 100%;
    display: flex;
}
input[type=submit]{
    color: black;
    font-size: 120%;
    font-weight: 700;
    background-color: transparent;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: 15%;
    margin-top: 1%;
}
.reset{
    margin-right: auto;

}
.col-1 a:hover {
    text-decoration: none;
}
.profile_details{
    justify-content: center;
    text-align: center;
}
.profile_pic{
    width: 100%;
    border-radius: 50%;
}
.center{
    text-align: center;
}
.name{
    font-weight: 900;
    font-size: 200%;
}


.label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
}

.label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}

.label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#06C;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    font-size:30px;
    margin-top: 30%;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
    animation: rotate-in 0.7s;
}

a#menu-share:hover > i{
    animation: rotate-out 0.7s;
}
@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}